<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
<p th:text="${person.getSelfIdentity()} + ', ' + ${person.getYearOfBirth()}"/>

<div>
    <hr>
    <div th:if="${condition}">
        <b>Книги: </b>
        <div th:each="book : ${books}">
            <p th:text="${book.name} + ', ' + ${book.author} + ', ' + ${book.yearOfRelease}"/>
        </div>
    </div>
    <div th:unless="${condition}">
        <p>Человек пока не взял ни одной книги</p>
    </div>
    <hr>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id = ${person.getPersonId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getPersonId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>